# Web Scrapping Using BeautifulSoup

 Importing all the required libraries

In [2]:
# IMPORTING REQUESTS TO GET THE SOURCE CODE OF THE FILE
# IMPORTING bs4 FOR BEAUTIFUL SOUP

In [8]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)

In [9]:
# importing BeautifulSoup from bs4
from bs4 import BeautifulSoup

In [10]:
# importing requests
import requests

# Question-1: Write a python program to display all the header tags from wikipedia.org

To get the source code of the webpage using requests.get

In [21]:
page1 = requests.get('https://en.wikipedia.org/wiki/Main_Page')
page1

To get the page content using BeautifulSoup

In [529]:
soup1 = BeautifulSoup(page1.content)
#soup1

Scrapping all the header tags from the webpage

In [578]:
# scrapping h1 tag using find method
header_1 = soup1.find('h1')
header_1

In [552]:
# scrapping h2 tag
header_2 = soup1.find('h2')
header_2.text

"From today's featured article"

In [554]:
# scrapping h3 tag's title uing text
header_3 = soup1.find('h3')
header_3.text.split("\n")[1]

'Personal tools'

In [567]:
# scrapping all the header tags using find_all in the list 
headers=[] # empty list 

for i in soup1.find_all(['h1','h2','h3','h4','h5','h6']):
    headers.append(i.text.split("\n"))

print("All the header tags from wikipedia.org are:")

headers

All the header tags from wikipedia.org are:

[['Main Page'],
 ['Welcome to Wikipedia'],
 ["From today's featured article"],
 ['Did you know\xa0...'],
 ['In the news'],
 ['On this day'],
 ["Today's featured picture"],
 ['Other areas of Wikipedia'],
 ["Wikipedia's sister projects"],
 ['Wikipedia languages'],
 ['Navigation menu'],
 ['', 'Personal tools', ''],
 ['', 'Namespaces', ''],
 ['', 'Views', ''],
 ['', 'Navigation', ''],
 ['', 'Contribute', ''],
 ['', 'Tools', ''],
 ['', 'Print/export', ''],
 ['', 'In other projects', ''],
 ['', 'Languages', '']]

# Question 2: Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make dataframe

 To get the source code of the webpage

In [573]:
page2 = requests.get('https://www.imdb.com/list/ls055592025/?sort=user_rating,desc&st_dt=&mode=detail&page=1')
page2

To get the page content using BeautifulSoup

In [574]:
soup2 = BeautifulSoup(page2.content)
#soup2

SCRAPPING THE NAME AND YEAR OF RELEASE OF 100 MOVIES

In [575]:
names=[] # EMPTY LIST FOR NAMES OF THE MOVIES

release_yr=[]  # EMPTY LIST FOR THE RELEASE YEAR OF THE MOVIES

for i in soup2.find_all('h3',class_= "lister-item-header" ):
    names.append(i.text.split("\n")[2])
    release_yr.append(i.text.split("\n")[3])
    
for j in range(100):
    print(names[j]," ",release_yr[j])

The Shawshank Redemption   (1994)
The Godfather   (1972)
The Godfather Part II   (1974)
Schindler's List   (1993)
The Lord of the Rings: The Return of the King   (2003)
12 Angry Men   (1957)
Pulp Fiction   (1994)
Forrest Gump   (1994)
Il buono, il brutto, il cattivo   (1966)
Goodfellas   (1990)
One Flew Over the Cuckoo's Nest   (1975)
It's a Wonderful Life   (1946)
The Green Mile   (1999)
The Silence of the Lambs   (1991)
Saving Private Ryan   (1998)
Star Wars   (1977)
Gladiator   (2000)
Apocalypse Now   (1979)
Casablanca   (1942)
The Pianist   (2002)
Psycho   (1960)
Rear Window   (1954)
City Lights   (1931)
Raiders of the Lost Ark   (1981)
Braveheart   (1995)
Amadeus   (1984)
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb   (1964)
Sunset Blvd.   (1950)
The Great Dictator   (1940)
Good Will Hunting   (1997)
A Clockwork Orange   (1971)
North by Northwest   (1959)
2001: A Space Odyssey   (1968)
Lawrence of Arabia   (1962)
To Kill a Mockingbird   (1962)
Citizen Kane   (1941)
The Apartment   (1960)
Vertigo   (1958)
Singin' in the Rain   (1952)
Double Indemnity   (1944)
Taxi Driver   (1976)
Jurassic Park   (1993)
Gone with the Wind   (1939)
Some Like It Hot   (1959)
Unforgiven   (1992)
Raging Bull   (1980)
Chinatown   (1974)
The Bridge on the River Kwai   (1957)
The Treasure of the Sierra Madre   (1948)
The Wizard of Oz   (1939)
All Quiet on the Western Front   (1930)
Rocky   (1976)
The Exorcist   (1973)
The Sound of Music   (1965)
Jaws   (1975)
Fargo   (1996)
Platoon   (1986)
The Deer Hunter   (1978)
Ben-Hur   (1959)
Network   (1976)
The Best Years of Our Lives   (1946)
On the Waterfront   (1954)
The Third Man   (1949)
It Happened One Night   (1934)
The Grapes of Wrath   (1940)
Mr. Smith Goes to Washington   (1939)
Dances with Wolves   (1990)
The Graduate   (1967)
Rain Man   (1988)
Butch Cassidy and the Sundance Kid   (1969)
Annie Hall   (1977)
The Maltese Falcon   (1941)
High Noon   (1952)
Titanic   (1997)
Doctor Zhivago   (1965)
E.T. the Extra-Terrestrial   (1982)
The Searchers   (1956)
A Streetcar Named Desire   (1951)
Patton   (1970)
The Philadelphia Story   (1940)
Midnight Cowboy   (1969)
My Fair Lady   (1964)
Stagecoach   (1939)
Bonnie and Clyde   (1967)
The French Connection   (1971)
A Place in the Sun   (1951)
Nashville   (1975)
The African Queen   (1951)
Mutiny on the Bounty   (1935)
Giant   (1956)
Close Encounters of the Third Kind   (1977)
West Side Story   (1961)
Rebel Without a Cause   (1955)
From Here to Eternity   (1953)
Shane   (1953)
Yankee Doodle Dandy   (1942)
Wuthering Heights   (1939)
American Graffiti   (1973)
Terms of Endearment   (1983)
An American in Paris   (1951)

SCRAPPING THE RATING OF THE MOVIES

In [576]:
rating=[] # empty list for storing the ratings of the movies 

for i in soup2.find_all('div', class_= "ipl-rating-star small"):
    rating.append(i.text.split("\n")[8])
    
print(rating, end=" ")

['9.3', '9.2', '9', '9', '9', '9', '8.9', '8.8', '8.8', '8.7', '8.7', '8.6', '8.6', '8.6', '8.6', '8.6', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8', '8', '8', '8', '8', '8', '8', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.8', '7.8', '7.8', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.6', '7.6', '7.6', '7.6', '7.6', '7.6', '7.6', '7.5', '7.4', '7.4', '7.2']

In [577]:
for j in range(100):
    print(names[j]," ", release_yr[j], " ", rating[j])

The Shawshank Redemption   (1994)   9.3
The Godfather   (1972)   9.2
The Godfather Part II   (1974)   9
Schindler's List   (1993)   9
The Lord of the Rings: The Return of the King   (2003)   9
12 Angry Men   (1957)   9
Pulp Fiction   (1994)   8.9
Forrest Gump   (1994)   8.8
Il buono, il brutto, il cattivo   (1966)   8.8
Goodfellas   (1990)   8.7
One Flew Over the Cuckoo's Nest   (1975)   8.7
It's a Wonderful Life   (1946)   8.6
The Green Mile   (1999)   8.6
The Silence of the Lambs   (1991)   8.6
Saving Private Ryan   (1998)   8.6
Star Wars   (1977)   8.6
Gladiator   (2000)   8.5
Apocalypse Now   (1979)   8.5
Casablanca   (1942)   8.5
The Pianist   (2002)   8.5
Psycho   (1960)   8.5
Rear Window   (1954)   8.5
City Lights   (1931)   8.5
Raiders of the Lost Ark   (1981)   8.4
Braveheart   (1995)   8.4
Amadeus   (1984)   8.4
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb   (1964)   8.4
Sunset Blvd.   (1950)   8.4
The Great Dictator   (1940)   8.4
Good Will Hunting   (1997)   8.3
A Clockwork Orange   (1971)   8.3
North by Northwest   (1959)   8.3
2001: A Space Odyssey   (1968)   8.3
Lawrence of Arabia   (1962)   8.3
To Kill a Mockingbird   (1962)   8.3
Citizen Kane   (1941)   8.3
The Apartment   (1960)   8.3
Vertigo   (1958)   8.3
Singin' in the Rain   (1952)   8.3
Double Indemnity   (1944)   8.3
Taxi Driver   (1976)   8.2
Jurassic Park   (1993)   8.2
Gone with the Wind   (1939)   8.2
Some Like It Hot   (1959)   8.2
Unforgiven   (1992)   8.2
Raging Bull   (1980)   8.2
Chinatown   (1974)   8.2
The Bridge on the River Kwai   (1957)   8.2
The Treasure of the Sierra Madre   (1948)   8.2
The Wizard of Oz   (1939)   8.1
All Quiet on the Western Front   (1930)   8.1
Rocky   (1976)   8.1
The Exorcist   (1973)   8.1
The Sound of Music   (1965)   8.1
Jaws   (1975)   8.1
Fargo   (1996)   8.1
Platoon   (1986)   8.1
The Deer Hunter   (1978)   8.1
Ben-Hur   (1959)   8.1
Network   (1976)   8.1
The Best Years of Our Lives   (1946)   8.1
On the Waterfront   (1954)   8.1
The Third Man   (1949)   8.1
It Happened One Night   (1934)   8.1
The Grapes of Wrath   (1940)   8.1
Mr. Smith Goes to Washington   (1939)   8.1
Dances with Wolves   (1990)   8
The Graduate   (1967)   8
Rain Man   (1988)   8
Butch Cassidy and the Sundance Kid   (1969)   8
Annie Hall   (1977)   8
The Maltese Falcon   (1941)   8
High Noon   (1952)   8
Titanic   (1997)   7.9
Doctor Zhivago   (1965)   7.9
E.T. the Extra-Terrestrial   (1982)   7.9
The Searchers   (1956)   7.9
A Streetcar Named Desire   (1951)   7.9
Patton   (1970)   7.9
The Philadelphia Story   (1940)   7.9
Midnight Cowboy   (1969)   7.8
My Fair Lady   (1964)   7.8
Stagecoach   (1939)   7.8
Bonnie and Clyde   (1967)   7.7
The French Connection   (1971)   7.7
A Place in the Sun   (1951)   7.7
Nashville   (1975)   7.7
The African Queen   (1951)   7.7
Mutiny on the Bounty   (1935)   7.7
Giant   (1956)   7.6
Close Encounters of the Third Kind   (1977)   7.6
West Side Story   (1961)   7.6
Rebel Without a Cause   (1955)   7.6
From Here to Eternity   (1953)   7.6
Shane   (1953)   7.6
Yankee Doodle Dandy   (1942)   7.6
Wuthering Heights   (1939)   7.5
American Graffiti   (1973)   7.4
Terms of Endearment   (1983)   7.4
An American in Paris   (1951)   7.2

TO MAKE DATAFRAME OF ALL THE INFORMATION

In [110]:
# importing pandas library
import pandas as pd

In [123]:
# making dataframe using pandas library

df = pd.DataFrame( {"Name": names, "Rating": rating, "Year of Release": release_yr} )
df

                                             Name Rating Year of Release
0                        The Shawshank Redemption    9.3          (1994)
1                                   The Godfather    9.2          (1972)
2                           The Godfather Part II      9          (1974)
3                                Schindler's List      9          (1993)
4   The Lord of the Rings: The Return of the King      9          (2003)
..                                            ...    ...             ...
95                            Yankee Doodle Dandy    7.6          (1942)
96                              Wuthering Heights    7.5          (1939)
97                              American Graffiti    7.4          (1973)
98                            Terms of Endearment    7.4          (1983)
99                           An American in Paris    7.2          (1951)

[100 rows x 3 columns]

In [117]:
# printing the length of the data 
print(len(names),len(release_yr),len(rating))

100 100 100

In [124]:
# importinf the dataframe in a csv file without index
df.to_csv('imdb_data.csv',index = False)

# Question-3:Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

To get the source code of the webpage

In [125]:
page3 = requests.get('https://www.imdb.com/list/ls561664100/?sort=user_rating,desc&st_dt=&mode=detail&page=1')
page3

To get the page content using BeautifulSoup

In [531]:
soup3 = BeautifulSoup(page3.content)
#soup3

To scrap the required data of the webpage

In [135]:
# scrapping the names of the top 100 indian movies 

in_names=[] # empty list to store the names

# loop for getting the multiple names 

for i in soup3.find_all('h3',class_= 'lister-item-header'):
     in_names.append(i.text.split("\n")[2])
        
print(in_names)

['3 Idiots', 'Taare Zameen Par', 'Sardar Udham', 'Black Friday', 'Dangal', 'Khosla Ka Ghosla!', 'Drishyam', 'Tumbbad', 'Andhadhun', 'Gangs of Wasseypur', 'Zindagi Na Milegi Dobara', 'Swades: We, the People', 'Bhaag Milkha Bhaag', 'Shahid', 'Paan Singh Tomar', '1971', 'A Wednesday', 'PK', 'Article 15', 'Bajrangi Bhaijaan', 'Lagaan: Once Upon a Time in India', 'Pink', 'Dil Chahta Hai', 'Talvar', 'Munna Bhai M.B.B.S.', 'Kahaani', 'Chak De! India', 'Queen', 'Rang De Basanti', 'Barfi!', 'Masaan', 'Omkara', 'Hera Pheri', 'Black', 'Udaan', 'Iqbal', 'Haider', 'Maqbool', 'Ship of Theseus', 'Mukkabaaz', 'Gulaal', 'Company', 'Dor', 'Kadvi Hawa', 'My Name Is Khan', 'Kal Ho Naa Ho', 'Gully Boy', 'Jab We Met', 'Dev.D', 'Ugly', 'Johnny Gaddaar', 'Ankhon Dekhi', 'Sonchiriya', 'Hazaaron Khwaishein Aisi', 'The Lunchbox', 'Veer-Zaara', 'Kai po che!', 'English Vinglish', 'Ab Tak Chhappan', 'Stanley Ka Dabba', 'Dasvidaniya', 'Aligarh', 'Rockstar', 'Raazi', 'Sir', 'Kapoor & Sons', 'Udta Punjab', 'Water', 'Raincoat', 'Oye Lucky! Lucky Oye!', 'Tu Hai Mera Sunday', 'Wake Up Sid', 'Highway', 'The Sky Is Pink', 'Piku', 'Newton', 'Chandni Bar', 'Devdas', 'Delhi Belly', 'Trapped', 'October', 'Parched', 'Titli', 'Kabhi Khushi Kabhie Gham...', 'Jhund', 'A Death in the Gunj', 'Lootera', 'Peepli [Live]', 'No Smoking', 'Monsoon Wedding', 'Manto', 'Firaaq', 'LSD: Love, Sex Aur Dhokha', 'Eeb Allay Ooo!', 'Gangubai Kathiawadi', 'Badhaai Do', 'Thappad', 'RK/RKAY', 'Mukti Bhawan', 'Om Shanti Om']

In [133]:
# scrapping the ratings of the top 100 indian movies 

in_rating=[] # empty list to store the ratings

# loop for getting the multiple ratings

for i in soup3.find_all('div',class_= 'ipl-rating-star small'):
     in_rating.append(i.text.split("\n")[8])
        
print(in_rating)

['8.4', '8.4', '8.4', '8.4', '8.3', '8.3', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8', '8', '8', '8', '8', '8', '8', '8', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.6', '7.6', '7.6', '7.6', '7.6', '7.6', '7.5', '7.5', '7.5', '7.5', '7.5', '7.5', '7.4', '7.4', '7.4', '7.4', '7.4', '7.3', '7.3', '7.3', '7.3', '7.2', '7.2', '7', '7', '7', '7', '7', '6.7']

In [134]:
# scrapping the year of release of the top 100 indian movies 

in_release_yr=[] # empty list to store the release year

for i in soup3.find_all('span',class_= 'lister-item-year text-muted unbold'):
     in_release_yr.append(i.text)
        
print(in_release_yr)

['(2009)', '(2007)', '(2021)', '(2004)', '(2016)', '(2006)', '(2015)', '(2018)', '(2018)', '(2012)', '(2011)', '(2004)', '(2013)', '(2012)', '(2012)', '(2007)', '(2008)', '(2014)', '(2019)', '(2015)', '(2001)', '(III) (2016)', '(2001)', '(2015)', '(2003)', '(2012)', '(2007)', '(2013)', '(2006)', '(2012)', '(2015)', '(2006)', '(2000)', '(2005)', '(2010)', '(2005)', '(2014)', '(2003)', '(2012)', '(2017)', '(2009)', '(2002)', '(2006)', '(2017)', '(2010)', '(2003)', '(2019)', '(2007)', '(2009)', '(2013)', '(2007)', '(2013)', '(2019)', '(2003)', '(2013)', '(2004)', '(2013)', '(2012)', '(2004)', '(2011)', '(2008)', '(2015)', '(2011)', '(2018)', '(I) (2018)', '(2016)', '(2016)', '(I) (2005)', '(2004)', '(2008)', '(2016)', '(2009)', '(I) (2014)', '(2019)', '(2015)', '(2017)', '(2001)', '(I) (2002)', '(2011)', '(XVII) (2016)', '(II) (2018)', '(2015)', '(2014)', '(2001)', '(2022)', '(2016)', '(I) (2013)', '(2010)', '(2007)', '(2001)', '(2018)', '(2008)', '(2010)', '(2019)', '(2022)', '(2022)', '(2020)', '(2021)', '(2016)', '(2007)']

In [570]:
for j in range(100):
    print(in_names[j]," ", in_release_yr[j], " ",in_rating[j])

3 Idiots   (2009)   8.4
Taare Zameen Par   (2007)   8.4
Sardar Udham   (2021)   8.4
Black Friday   (2004)   8.4
Dangal   (2016)   8.3
Khosla Ka Ghosla!   (2006)   8.3
Drishyam   (2015)   8.2
Tumbbad   (2018)   8.2
Andhadhun   (2018)   8.2
Gangs of Wasseypur   (2012)   8.2
Zindagi Na Milegi Dobara   (2011)   8.2
Swades: We, the People   (2004)   8.2
Bhaag Milkha Bhaag   (2013)   8.2
Shahid   (2012)   8.2
Paan Singh Tomar   (2012)   8.2
1971   (2007)   8.2
A Wednesday   (2008)   8.1
PK   (2014)   8.1
Article 15   (2019)   8.1
Bajrangi Bhaijaan   (2015)   8.1
Lagaan: Once Upon a Time in India   (2001)   8.1
Pink   (III) (2016)   8.1
Dil Chahta Hai   (2001)   8.1
Talvar   (2015)   8.1
Munna Bhai M.B.B.S.   (2003)   8.1
Kahaani   (2012)   8.1
Chak De! India   (2007)   8.1
Queen   (2013)   8.1
Rang De Basanti   (2006)   8.1
Barfi!   (2012)   8.1
Masaan   (2015)   8.1
Omkara   (2006)   8.1
Hera Pheri   (2000)   8.1
Black   (2005)   8.1
Udaan   (2010)   8.1
Iqbal   (2005)   8.1
Haider   (2014)   8
Maqbool   (2003)   8
Ship of Theseus   (2012)   8
Mukkabaaz   (2017)   8
Gulaal   (2009)   8
Company   (2002)   8
Dor   (2006)   8
Kadvi Hawa   (2017)   8
My Name Is Khan   (2010)   7.9
Kal Ho Naa Ho   (2003)   7.9
Gully Boy   (2019)   7.9
Jab We Met   (2007)   7.9
Dev.D   (2009)   7.9
Ugly   (2013)   7.9
Johnny Gaddaar   (2007)   7.9
Ankhon Dekhi   (2013)   7.9
Sonchiriya   (2019)   7.9
Hazaaron Khwaishein Aisi   (2003)   7.9
The Lunchbox   (2013)   7.8
Veer-Zaara   (2004)   7.8
Kai po che!   (2013)   7.8
English Vinglish   (2012)   7.8
Ab Tak Chhappan   (2004)   7.8
Stanley Ka Dabba   (2011)   7.8
Dasvidaniya   (2008)   7.8
Aligarh   (2015)   7.8
Rockstar   (2011)   7.7
Raazi   (2018)   7.7
Sir   (I) (2018)   7.7
Kapoor & Sons   (2016)   7.7
Udta Punjab   (2016)   7.7
Water   (I) (2005)   7.7
Raincoat   (2004)   7.7
Oye Lucky! Lucky Oye!   (2008)   7.7
Tu Hai Mera Sunday   (2016)   7.7
Wake Up Sid   (2009)   7.6
Highway   (I) (2014)   7.6
The Sky Is Pink   (2019)   7.6
Piku   (2015)   7.6
Newton   (2017)   7.6
Chandni Bar   (2001)   7.6
Devdas   (I) (2002)   7.5
Delhi Belly   (2011)   7.5
Trapped   (XVII) (2016)   7.5
October   (II) (2018)   7.5
Parched   (2015)   7.5
Titli   (2014)   7.5
Kabhi Khushi Kabhie Gham...   (2001)   7.4
Jhund   (2022)   7.4
A Death in the Gunj   (2016)   7.4
Lootera   (I) (2013)   7.4
Peepli [Live]   (2010)   7.4
No Smoking   (2007)   7.3
Monsoon Wedding   (2001)   7.3
Manto   (2018)   7.3
Firaaq   (2008)   7.3
LSD: Love, Sex Aur Dhokha   (2010)   7.2
Eeb Allay Ooo!   (2019)   7.2
Gangubai Kathiawadi   (2022)   7
Badhaai Do   (2022)   7
Thappad   (2020)   7
RK/RKAY   (2021)   7
Mukti Bhawan   (2016)   7
Om Shanti Om   (2007)   6.7

TO MAKE THE DATAFRAME OF THE DATA

In [136]:
in_df = pd.DataFrame( {"NAME": in_names, "RATING": in_rating, "YEAR OF RELEASE": in_release_yr } )
in_df

                NAME RATING YEAR OF RELEASE
0           3 Idiots    8.4          (2009)
1   Taare Zameen Par    8.4          (2007)
2       Sardar Udham    8.4          (2021)
3       Black Friday    8.4          (2004)
4             Dangal    8.3          (2016)
..               ...    ...             ...
95        Badhaai Do      7          (2022)
96           Thappad      7          (2020)
97           RK/RKAY      7          (2021)
98      Mukti Bhawan      7          (2016)
99      Om Shanti Om    6.7          (2007)

[100 rows x 3 columns]

In [138]:
# IMPORTING IN_DF TO A CSV FILE 

in_df.to_csv("imdb indian dataframe.csv", index = False)

# Question-4: Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

To get the source code of the webpage

In [140]:
page4 = requests.get("https://presidentofindia.nic.in/former-presidents.htm")
page4

To get the page content

In [532]:
soup4 = BeautifulSoup(page4.content)
#soup4

To scrape the Name and Term of the Former Presidents

In [193]:
pres_names=[] # empty list for the names 
pres_term=[] # empty list for the term of office

# loop for scraping the name and term 

for i in soup4.find_all('div', class_="presidentListing"):
    pres_names.append(i.text.split("\n")[1])
    pres_term.append(i.text.split("\n")[2])
    
# loop for printing the data in an organised manner

for j in range(0,14):
    print(j+1,":",pres_names[j] ,"\n ",pres_term[j])

1 : Shri Ram Nath Kovind (birth - 1945)
  Term of Office: 25 July, 2017 to 25 July, 2022
2 : Shri Pranab Mukherjee (1935-2020)
  Term of Office: 25 July, 2012 to 25 July, 2017
3 : Smt Pratibha Devisingh Patil (birth - 1934)
  Term of Office: 25 July, 2007 to 25 July, 2012
4 : DR. A.P.J. Abdul Kalam (1931-2015)
  Term of Office: 25 July, 2002 to 25 July, 2007
5 : Shri K. R. Narayanan (1920 - 2005)
  Term of Office: 25 July, 1997 to 25 July, 2002
6 : Dr Shankar Dayal Sharma (1918-1999)
  Term of Office: 25 July, 1992 to 25 July, 1997
7 : Shri R Venkataraman (1910-2009)
  Term of Office: 25 July, 1987 to 25 July, 1992
8 : Giani Zail Singh (1916-1994)
  Term of Office: 25 July, 1982 to 25 July, 1987
9 : Shri Neelam Sanjiva Reddy (1913-1996)
  Term of Office: 25 July, 1977 to 25 July, 1982
10 : Dr. Fakhruddin Ali Ahmed (1905-1977)
  Term of Office: 24 August, 1974 to 11 February, 1977
11 : Shri Varahagiri Venkata Giri (1894-1980)
  Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974
12 : Dr. Zakir Husain (1897-1969)
  Term of Office: 13 May, 1967 to 3 May, 1969
13 : Dr. Sarvepalli Radhakrishnan (1888-1975)
  Term of Office: 13 May, 1962 to 13 May, 1967
14 : Dr. Rajendra Prasad (1884-1963)
  Term of Office: 26 January, 1950 to 13 May, 1962

In [195]:
# writing without Term of Office
pres_term[0].split(":")[1]

' 25 July, 2017 to 25 July, 2022 '

# Question-5:Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

b) Top 10 ODI Batsmen along with the records of their team and rating.

c) Top 10 ODI bowlers along with the records of their team and rating.

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [197]:
#To get the source code of the webpage
page5_1 = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page5_1

In [533]:
# To get the page content
soup5_1 = BeautifulSoup(page5_1.content)
#soup5_1

TO SCRAP THE DATA OF TOP 10 ODI MEN'S TEAM

In [402]:
team_o=[]  # EMPTY LIST TO STORE TEAM NAMES
match_o=[] # EMPTY LIST TO STORE MATCHES
point_o=[]  # EMPTY LIST TO STORE POINTS 
rating_o=[] # EMPTY LIST TO STORE RATINGS

# CLASS FOR THE FIRST TEAM IS DIFFERENT FROM OTHERS SO TO SCRAP THE DATA OF FIRST TEAM SEPARATELY 

first_team = soup5_1.find('tr',class_="rankings-block__banner")

team_o.insert(0,first_team.text.split("\n")[4])   # to add first team name
match_o.insert(0,first_team.text.split("\n")[7])  # to add first team's matches
point_o.insert(0,first_team.text.split("\n")[8])  # to add first team's points
rating_o.insert(0,first_team.text.split("\n")[10].split(" ")[28]) # to add first team's rating

# loop for adding the details of other teams 

for j in soup5_1.find_all('tr',class_="table-body",limit=9):
     
    team_o.append(j.text.split("\n")[4])
    match_o.append(j.text.split("\n")[7])
    point_o.append(j.text.split("\n")[8])
    rating_o.append(j.text.split("\n")[9])
    
# loop for displaying the desired data 
 
for j in range(10):
    print(j+1," ", team_o[j],"  ",match_o[j]," ",point_o[j]," ",rating_o[j])

1   New Zealand    23   2,670   116
2   England    30   3,400   113
3   Australia    32   3,572   112
4   India    35   3,866   110
5   Pakistan    22   2,354   107
6   South Africa    24   2,392   100
7   Bangladesh    30   2,753   92
8   Sri Lanka    30   2,677   89
9   Afghanistan    19   1,380   73
10   West Indies    41   2,902   71

In [406]:
# DATA IN THE FORM OF DATAFRAME 
df_mo = pd.DataFrame( {"TEAMS":team_o,"MATCHES": match_o,"POINTS": point_o,"RATING":rating_o} )
df_mo

          TEAMS MATCHES POINTS RATING
0   New Zealand      23  2,670    116
1       England      30  3,400    113
2     Australia      32  3,572    112
3         India      35  3,866    110
4      Pakistan      22  2,354    107
5  South Africa      24  2,392    100
6    Bangladesh      30  2,753     92
7     Sri Lanka      30  2,677     89
8   Afghanistan      19  1,380     73
9   West Indies      41  2,902     71

 b) Top 10 ODI Batsmen along with the records of their team and rating.

In [348]:
# to get the source code of the webpage
page5_2 = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page5_2

In [534]:
# to get the page content 
soup5_2 = BeautifulSoup(page5_2.content)
# soup5_2

To scrap the data of top 10 ODI Btasman

In [391]:
bt_name=[]
bt_team=[]
bt_rating=[]
pos_b=[]

# CLASS FOR THE FIRST BATSMAN IS DIFFERENT FROM OTHERS SO TO SCRAP THE DATA OF FIRST BATSMAN SEPARATELY 

bt1 = soup5_2.find('tr',class_= "rankings-block__banner")
bt_name.insert(0,(bt1.text.split("\n")[20]))
bt_team.insert(0,(bt1.text.split("\n")[27]))
bt_rating.insert(0,(bt1.text.split("\n")[31]))

# loop for adding the name of other players  

for j in soup5_2.find_all('td',class_="table-body__cell rankings-table__name name",limit=9):
    bt_name.append(j.text.split("\n")[1])
    
# loop for adding the name of other players  

for j in soup5_2.find_all('span',class_="table-body__logo-text",limit=9):
    bt_team.append(j.text)
    
# loop for adding the rating of other players 

for j in soup5_2.find_all('td',class_="table-body__cell rating",limit=9):
    bt_rating.append(j.text)
    
# loop for displaying the desired data 

for j in range(10):
    pos_b.insert(j,j+1) # to store the position of the batsmen 
    print(pos_b[j]," ", bt_name[j],"  ",bt_team[j]," ",bt_rating[j])

1   Babar Azam    PAK   890
2   Imam-ul-Haq    PAK   779
3   Rassie van der Dussen    SA   766
4   Quinton de Kock    SA   759
5   David Warner    AUS   747
6   Virat Kohli    IND   722
7   Steve Smith    AUS   719
8   Rohit Sharma    IND   718
9   Jonny Bairstow    ENG   710
10   Ross Taylor    NZ   701

In [398]:
# DATA IN THE FORM OF DATAFRAME WITHOUT INDEX VALUE 
df_b = pd.DataFrame( {"POSITION":pos_b,"PLAYER": bt_name,"TEAMS ": bt_team, "RATING":bt_rating} )
print(df_b.to_string(index=False)) #printing of dataframe without index

 POSITION                PLAYER TEAMS  RATING
        1            Babar Azam    PAK    890
        2           Imam-ul-Haq    PAK    779
        3 Rassie van der Dussen     SA    766
        4       Quinton de Kock     SA    759
        5          David Warner    AUS    747
        6           Virat Kohli    IND    722
        7           Steve Smith    AUS    719
        8          Rohit Sharma    IND    718
        9        Jonny Bairstow    ENG    710
       10           Ross Taylor     NZ    701

 Top 10 ODI bowlers along with the records of their team and rating.

In [375]:
# to get the source code of the webpage 
page5_3 = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page5_3

In [535]:
# to get the page content 
soup5_3 = BeautifulSoup(page5_3.content)
# soup5_3

To scrap the data of top 10 ODI BOWLERS

In [395]:
bo_name=[]
bo_team=[]
bo_rating=[]
pos_bo=[]

# CLASS FOR THE FIRST BOWLER IS DIFFERENT FROM OTHERS SO TO SCRAP THE DATA OF FIRST BOWLER SEPARATELY 

bo1 = soup5_3.find('tr',class_= "rankings-block__banner")

bo_name.insert(0,(bo1.text.split("\n")[20]))
bo_team.insert(0,(bo1.text.split("\n")[27]))
bo_rating.insert(0,(bo1.text.split("\n")[31]))

# loop for adding the name of other players  

for j in soup5_3.find_all('td',class_="table-body__cell rankings-table__name name",limit=9):
    bo_name.append(j.text.split("\n")[1])
    
# loop for adding the name of other players  

for j in soup5_3.find_all('span',class_="table-body__logo-text",limit=9):
    bo_team.append(j.text)
    
# loop for adding the rating of other players 

for j in soup5_3.find_all('td',class_="table-body__cell rating",limit=9):
    bo_rating.append(j.text)   
    
# loop for displaying the desired data 

for j in range(10):
    pos_bo.insert(j,j+1) # to store the position of the bowlers
    print(pos_bo[j]," ", bo_name[j],"  ",bo_team[j]," ",bo_rating[j])

1   Trent Boult    NZ   775
2   Josh Hazlewood    AUS   727
3   Mujeeb Ur Rahman    AFG   676
4   Mitchell Starc    AUS   665
5   Shaheen Afridi    PAK   661
6   Mohammad Nabi    AFG   657
7   Adam Zampa    AUS   655
8   Mehedi Hasan    BAN   655
9   Matt Henry    NZ   654
10   Rashid Khan    AFG   651

In [396]:
# DATA IN THE FORM OF DATAFRAME WITH INDEX 
df_bo = pd.DataFrame( {"POSITION":pos_bo,"PLAYER": bo_name,"TEAMS ": bo_team, "RATING":bo_rating} )
df_bo

   POSITION            PLAYER TEAMS  RATING
0         1       Trent Boult     NZ    775
1         2    Josh Hazlewood    AUS    727
2         3  Mujeeb Ur Rahman    AFG    676
3         4    Mitchell Starc    AUS    665
4         5    Shaheen Afridi    PAK    661
5         6     Mohammad Nabi    AFG    657
6         7        Adam Zampa    AUS    655
7         8      Mehedi Hasan    BAN    655
8         9        Matt Henry     NZ    654
9        10       Rashid Khan    AFG    651

# Question-6:Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [407]:
#To get the source code of the webpage
page6_1 = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page6_1

In [536]:
# To get the page content
soup6_1 = BeautifulSoup(page6_1.content)
# soup6_1

In [412]:
# TO SCRAP THE DATA OF TOP 10 ODI WOMEN'S TEAM

pos_wo=[] # EMPTY LIST TO STORE THE POSITION OF THE TEAM
team_wo=[]  # EMPTY LIST TO STORE TEAM NAMES
match_wo=[] # EMPTY LIST TO STORE MATCHES
point_wo=[]  # EMPTY LIST TO STORE POINTS 
rating_wo=[] # EMPTY LIST TO STORE RATINGS

# CLASS FOR THE FIRST TEAM IS DIFFERENT FROM OTHERS SO TO SCRAP THE DATA OF FIRST TEAM SEPARATELY 

first_team = soup6_1.find('tr',class_="rankings-block__banner")

team_wo.insert(0,first_team.text.split("\n")[4])   # to add first team name
match_wo.insert(0,first_team.text.split("\n")[7])  # to add first team's matches
point_wo.insert(0,first_team.text.split("\n")[8])  # to add first team's points
rating_wo.insert(0,first_team.text.split("\n")[10].split(" ")[28]) # to add first team's rating

# loop for adding the details of other teams 

for j in soup6_1.find_all('tr',class_="table-body",limit=9):
     
    team_wo.append(j.text.split("\n")[4])
    match_wo.append(j.text.split("\n")[7])
    point_wo.append(j.text.split("\n")[8])
    rating_wo.append(j.text.split("\n")[9])
    
# loop for displaying the desired data 
 
for j in range(10):
    pos_wo.insert(j,j+1)
    print(pos_wo[j]," ", team_wo[j],"  ",match_wo[j]," ",point_wo[j]," ",rating_wo[j])

1   Australia    18   3,061   170
2   South Africa    26   3,098   119
3   England    25   2,904   116
4   India    27   2,820   104
5   New Zealand    24   2,425   101
6   West Indies    24   2,334   97
7   Bangladesh    12   932   78
8   Thailand    8   572   72
9   Pakistan    24   1,519   63
10   Sri Lanka    8   353   44

In [416]:
# DATA IN THE FORM OF DATAFRAME WITHOUT INDEX
df_wo = pd.DataFrame( {"POSITION":pos_wo,"TEAMS":team_wo,"MATCHES": match_wo,"POINTS": point_wo,"RATING":rating_wo} )
print(df_wo.to_string(index=False))

 POSITION        TEAMS MATCHES POINTS RATING
        1    Australia      18  3,061    170
        2 South Africa      26  3,098    119
        3      England      25  2,904    116
        4        India      27  2,820    104
        5  New Zealand      24  2,425    101
        6  West Indies      24  2,334     97
        7   Bangladesh      12    932     78
        8     Thailand       8    572     72
        9     Pakistan      24  1,519     63
       10    Sri Lanka       8    353     44

b) Top 10 women’s ODI Batting players along with the records of their team and rating

In [418]:
#To get the source code of the webpage
page6_2 = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page6_2

In [537]:
# To get the page content
soup6_2 = BeautifulSoup(page6_2.content)
# soup6_2

TO SCRAPE THE DATA OF TOP 10 WOMEN BATTING PLAYERS

In [420]:
wbt_name=[] 
wbt_team=[]
wbt_rating=[]
pos_wb=[]

# CLASS FOR THE FIRST PLAYER IS DIFFERENT FROM OTHERS SO TO SCRAP THE DATA OF FIRST PLAYER SEPARATELY 

wbt1 = soup6_2.find('tr',class_= "rankings-block__banner")
wbt_name.insert(0,(wbt1.text.split("\n")[20]))
wbt_team.insert(0,(wbt1.text.split("\n")[27]))
wbt_rating.insert(0,(wbt1.text.split("\n")[31]))

# loop for adding the name of other players  

for j in soup6_2.find_all('td',class_="table-body__cell rankings-table__name name",limit=9):
    wbt_name.append(j.text.split("\n")[1])
    
# loop for adding the name of other players  

for j in soup6_2.find_all('span',class_="table-body__logo-text",limit=9):
    wbt_team.append(j.text)
    
# loop for adding the rating of other players 

for j in soup6_2.find_all('td',class_="table-body__cell rating",limit=9):
    wbt_rating.append(j.text)
    
# loop for displaying the desired data 

for j in range(10):
    pos_wb.insert(j,j+1) # to store the position of the batsmen 
    print(pos_wb[j]," ", wbt_name[j],"  ",wbt_team[j]," ",wbt_rating[j])

1   Alyssa Healy    AUS   785
2   Beth Mooney    AUS   749
3   Laura Wolvaardt    SA   732
4   Natalie Sciver    ENG   725
5   Harmanpreet Kaur    IND   716
6   Smriti Mandhana    IND   714
7   Meg Lanning    AUS   710
8   Rachael Haynes    AUS   701
9   Amy Satterthwaite    NZ   661
10   Chamari Athapaththu    SL   655

In [421]:
# DATA IN THE FORM OF DATAFRAME WITH INDEX 
df_wb = pd.DataFrame( {"POSITION":pos_wb,"PLAYER": wbt_name,"TEAMS ": wbt_team, "RATING":wbt_rating} )
df_wb

   POSITION               PLAYER TEAMS  RATING
0         1         Alyssa Healy    AUS    785
1         2          Beth Mooney    AUS    749
2         3      Laura Wolvaardt     SA    732
3         4       Natalie Sciver    ENG    725
4         5     Harmanpreet Kaur    IND    716
5         6      Smriti Mandhana    IND    714
6         7          Meg Lanning    AUS    710
7         8       Rachael Haynes    AUS    701
8         9    Amy Satterthwaite     NZ    661
9        10  Chamari Athapaththu     SL    655

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [422]:
#To get the source code of the webpage
page6_3 = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page6_3

In [538]:
# To get the page content
soup6_3 = BeautifulSoup(page6_3.content)
# soup6_3

TO SCRAPE ALL THE DESIRED DATA

In [424]:
pos_wa=[]
wa_name=[]
wa_team=[]
wa_rating=[]

# CLASS FOR THE FIRST PLAYER IS DIFFERENT FROM OTHERS SO TO SCRAP THE DATA OF FIRST PLAYER SEPARATELY 

ar1 = soup6_3.find('tr',class_ = "rankings-block__banner")

wa_name.insert(0,(ar1.text.split("\n")[20]))
wa_team.insert(0,(ar1.text.split("\n")[27]))
wa_rating.insert(0,(ar1.text.split("\n")[31]))

# loop for adding the name of other players  

for j in soup6_3.find_all('td',class_="table-body__cell rankings-table__name name",limit=9):
    wa_name.append(j.text.split("\n")[1])
    
# loop for adding the name of other players  

for j in soup6_3.find_all('span',class_="table-body__logo-text",limit=9):
    wa_team.append(j.text)
    
# loop for adding the rating of other players 

for j in soup6_3.find_all('td',class_="table-body__cell rating",limit=9):
    wa_rating.append(j.text)   
    
# loop for displaying the desired data 

for j in range(10):
    
    pos_wa.insert(j,j+1) # to store the position of the players
    
    print(pos_wa[j]," ", wa_name[j],"  ",wa_team[j]," ",wa_rating[j])

1   Hayley Matthews    WI   380
2   Ellyse Perry    AUS   374
3   Natalie Sciver    ENG   357
4   Amelia Kerr    NZ   356
5   Marizanne Kapp    SA   349
6   Deepti Sharma    IND   322
7   Ashleigh Gardner    AUS   270
8   Jess Jonassen    AUS   246
9   Jhulan Goswami    IND   214
10   Katherine Brunt    ENG   207

In [427]:
# DATA IN THE FORM OF DATAFRAME WITHOUT INDEX 
df_wa = pd.DataFrame( {"POSITION":pos_wa,"PLAYER": wa_name,"TEAMS ": wa_team, "RATING":wa_rating} )
print(df_wa.to_string(index=False))

 POSITION           PLAYER TEAMS  RATING
        1  Hayley Matthews     WI    380
        2     Ellyse Perry    AUS    374
        3   Natalie Sciver    ENG    357
        4      Amelia Kerr     NZ    356
        5   Marizanne Kapp     SA    349
        6    Deepti Sharma    IND    322
        7 Ashleigh Gardner    AUS    270
        8    Jess Jonassen    AUS    246
        9   Jhulan Goswami    IND    214
       10  Katherine Brunt    ENG    207

# Question-7: Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
i) Headline
ii) Time
iii) News Link

To get the source code of the webpage

In [519]:
page7=requests.get("https://www.cnbc.com/world/?region=world")
page7

In [539]:
# To get the page content
soup7 = BeautifulSoup(page7.content)
# soup7

To scrape the data of the news

In [527]:
# creating emoty lists to store the data 
head=[]
time=[]
link=[]

# loop for getting the news headlines 
for i in soup7.find_all('li',class_="LatestNews-item",limit=10):
    head.append(i.text.split("Ago")[1])

# loop for getting the time of the news 
for i in soup7.find_all('time',class_="LatestNews-timestamp",limit=10):
    time.append(i.text)
    
# loop for getting the link of the news    
for i in soup7.find_all('a',class_="LatestNews-headline",limit=10):
    link.append(i.get('href'))

# loop for displaying the data 
for j in range(10):
    print(j+1," ",head[j]," ",time[j]," ",link[j])

1   Rolls-Royce uses hydrogen produced with wind and tidal power to test jet engine   22 Min Ago   https://www.cnbc.com/2022/12/02/rolls-royce-uses-green-hydrogen-in-jet-engine-test.html
2   Singapore and New York are the most expensive cities to live in, EIU says   44 Min Ago   https://www.cnbc.com/2022/12/02/singapore-and-new-york-are-the-most-expensive-cities-to-live-in-eiu.html
3   Hong Kong's Hang Seng still in bear market territory despite best month since 1998   49 Min Ago   https://www.cnbc.com/2022/12/02/hang-seng-still-in-bear-market-territory-despite-best-month-since-1998.html
4   Tesla CEO Elon Musk kicks off first Semi truck deliveries   4 Hours Ago   https://www.cnbc.com/2022/12/01/tesla-ceo-elon-musk-kicks-off-semi-truck-deliveries.html
5   Citi names 6 global stocks that capture both 'defensive growth and value'   6 Hours Ago   https://www.cnbc.com/2022/12/02/citi-names-6-stocks-that-capture-both-defensive-growth-and-value.html
6   BlackRock unit tells investors it's time for a new portfolio playbook   6 Hours Ago   https://www.cnbc.com/2022/12/02/blackrocks-ishares-on-how-to-invest-in-an-environment-of-higher-rates.html
7   Cramer's lightning round: Seagate is not for this market   7 Hours Ago   https://www.cnbc.com/2022/12/01/cramers-lightning-round-seagate-is-not-for-this-market.html
8   Wrong Covid test results in China raise concerns 'the pandemic may never end'   7 Hours Ago   https://www.cnbc.com/2022/12/02/china-people-worry-wrong-covid-test-results-mean-pandemic-wont-end.html
9   Jim Cramer says he likes these 3 restaurant stocks for a ‘normalizing’ economy   7 Hours Ago   https://www.cnbc.com/2022/12/01/jim-cramer-says-he-likes-these-3-restaurant-stocks.html
10   Japanese stocks lead losses in Asia as investors seek clarity on China's Covid rule changes   7 Hours Ago   https://www.cnbc.com/2022/12/02/asia-pacific-markets-jobs.html

In [528]:
# DATA IN THE FORM OF DATAFRAME 
df7 = pd.DataFrame( {"HEADLINE": head, "TIME ": time, " LINK": link} )
df7

,HEADLINE,TIME,LINK
0,Rolls-Royce uses hydrogen produced with wind a...,22 Min Ago,https://www.cnbc.com/2022/12/02/rolls-royce-us...
1,Singapore and New York are the most expensive ...,44 Min Ago,https://www.cnbc.com/2022/12/02/singapore-and-...
2,Hong Kong's Hang Seng still in bear market ter...,49 Min Ago,https://www.cnbc.com/2022/12/02/hang-seng-stil...
3,Tesla CEO Elon Musk kicks off first Semi truck...,4 Hours Ago,https://www.cnbc.com/2022/12/01/tesla-ceo-elon...
4,Citi names 6 global stocks that capture both '...,6 Hours Ago,https://www.cnbc.com/2022/12/02/citi-names-6-s...
5,BlackRock unit tells investors it's time for a...,6 Hours Ago,https://www.cnbc.com/2022/12/02/blackrocks-ish...
6,Cramer's lightning round: Seagate is not for t...,7 Hours Ago,https://www.cnbc.com/2022/12/01/cramers-lightn...
7,Wrong Covid test results in China raise concer...,7 Hours Ago,https://www.cnbc.com/2022/12/02/china-people-w...
8,Jim Cramer says he likes these 3 restaurant st...,7 Hours Ago,https://www.cnbc.com/2022/12/01/jim-cramer-say...
9,Japanese stocks lead losses in Asia as investo...,7 Hours Ago,https://www.cnbc.com/2022/12/02/asia-pacific-m...

# Question-8: Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

Scrape below mentioned details :
i) Paper Title 
ii) Authors
iii) Published Date 
iv) Paper URL

In [428]:
# To get the source code of the webpage
page8 = requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
page8

In [540]:
#To get the page content
soup8 = BeautifulSoup(page8.content)
# soup8

To scrape the desired data

In [450]:
# creating empty lists to store all the data of the articles
a_title=[]
a_authors=[]
a_date=[]
a_url=[]

# loop for the title of the articles

for i in soup8.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    a_title.append(i.text)

# loop for the authors of the articles

for i in soup8.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    a_authors.append(i.text)

# loop for the Date of Publication of the articles

for i in soup8.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    a_date.append(i.text)

# loop for the URL of the articles

for i in soup8.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    a_url.append(i.get('href'))

# loop for displaying the data of articles

for j in range(25):
    print(j+1,a_title[j]," ",a_authors[j]," ",a_date[j]," ",a_url[j])

1 Reward is enough   Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S.    October 2021   https://www.sciencedirect.com/science/article/pii/S0004370221000862
2 Making sense of raw input   Evans, Richard, Bošnjak, Matko and 5 more   October 2021   https://www.sciencedirect.com/science/article/pii/S0004370221000722
3 Law and logic: A review from an argumentation perspective   Prakken, Henry, Sartor, Giovanni    October 2015   https://www.sciencedirect.com/science/article/pii/S0004370215000910
4 Creativity and artificial intelligence   Boden, Margaret A.    August 1998   https://www.sciencedirect.com/science/article/pii/S0004370298000551
5 Artificial cognition for social human–robot interaction: An implementation   Lemaignan, Séverin, Warnier, Mathieu and 3 more   June 2017   https://www.sciencedirect.com/science/article/pii/S0004370216300790
6 Explanation in artificial intelligence: Insights from the social sciences   Miller, Tim    February 2019   https://www.sciencedirect.com/science/article/pii/S0004370218305988
7 Making sense of sensory input   Evans, Richard, Hernández-Orallo, José and 3 more   April 2021   https://www.sciencedirect.com/science/article/pii/S0004370220301855
8 Conflict-based search for optimal multi-agent pathfinding   Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R.    February 2015   https://www.sciencedirect.com/science/article/pii/S0004370214001386
9 Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning   Sutton, Richard S., Precup, Doina, Singh, Satinder    August 1999   https://www.sciencedirect.com/science/article/pii/S0004370299000521
10 The Hanabi challenge: A new frontier for AI research   Bard, Nolan, Foerster, Jakob N. and 13 more   March 2020   https://www.sciencedirect.com/science/article/pii/S0004370219300116
11 Evaluating XAI: A comparison of rule-based and example-based explanations   van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark    February 2021   https://www.sciencedirect.com/science/article/pii/S0004370220301533
12 Argumentation in artificial intelligence   Bench-Capon, T.J.M., Dunne, Paul E.    October 2007   https://www.sciencedirect.com/science/article/pii/S0004370207000793
13 Algorithms for computing strategies in two-player simultaneous move games   Bošanský, Branislav, Lisý, Viliam and 3 more   August 2016   https://www.sciencedirect.com/science/article/pii/S0004370216300285
14 Multiple object tracking: A literature review   Luo, Wenhan, Xing, Junliang and 4 more   April 2021   https://www.sciencedirect.com/science/article/pii/S0004370220301958
15 Selection of relevant features and examples in machine learning   Blum, Avrim L., Langley, Pat    December 1997   https://www.sciencedirect.com/science/article/pii/S0004370297000635
16 A survey of inverse reinforcement learning: Challenges, methods and progress   Arora, Saurabh, Doshi, Prashant    August 2021   https://www.sciencedirect.com/science/article/pii/S0004370221000515
17 Explaining individual predictions when features are dependent: More accurate approximations to Shapley values   Aas, Kjersti, Jullum, Martin, Løland, Anders    September 2021   https://www.sciencedirect.com/science/article/pii/S0004370221000539
18 A review of possible effects of cognitive biases on interpretation of rule-based machine learning models   Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes    June 2021   https://www.sciencedirect.com/science/article/pii/S0004370221000096
19 Integrating social power into the decision-making of cognitive agents   Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.    December 2016   https://www.sciencedirect.com/science/article/pii/S0004370216300868
20 “That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems   Riveiro, Maria, Thill, Serge    September 2021   https://www.sciencedirect.com/science/article/pii/S0004370221000588
21 Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies   Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T.    May 2021   https://www.sciencedirect.com/science/article/pii/S0004370221000102
22 Algorithm runtime prediction: Methods & evaluation   Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin    January 2014   https://www.sciencedirect.com/science/article/pii/S0004370213001082
23 Wrappers for feature subset selection   Kohavi, Ron, John, George H.    December 1997   https://www.sciencedirect.com/science/article/pii/S000437029700043X
24 Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics   Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna    October 2021   https://www.sciencedirect.com/science/article/pii/S0004370221000734
25 Quantum computation, quantum theory and AI   Ying, Mingsheng    February 2010   https://www.sciencedirect.com/science/article/pii/S0004370209001398

In [451]:
# DATA IN THE FORM OF DATAFRAME 
df8 = pd.DataFrame( {"TITLE": a_title, "AUTHORS": a_authors, "PUBLISHED DATE": a_date, "URL": a_url} )
df8

,TITLE,AUTHORS,PUBLISHED DATE,URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [453]:
# saving the csv file 
df8.to_csv("article.csv")

# Question-9: ) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location 
iv) Ratings
v) Image URL

In [459]:
# To get the source code of the webpage
page9 = requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
page9

In [541]:
#To get the page content 
soup9 = BeautifulSoup(page9.content)
# soup9

TO SCRAPE ALL THE DESIRED DATA OF THE RESTRAUNTS

In [477]:
# creating empty lists to store the data 

res_name=[]
res_cuis=[]
res_loc=[]
res_rating=[]
res_iurl=[]

# loop to get the restraunt names:

for i in soup9.find_all('a',class_="restnt-name ellipsis"):
    res_name.append(i.text)

# loop to get the restraunt cuisines:

for i in soup9.find_all('span',class_="double-line-ellipsis"):
    res_cuis.append(i.text.split("|")[1])
    
# loop to get the restraunt location:

for i in soup9.find_all('div',class_="restnt-loc ellipsis"):
    res_loc.append(i.text)
    
# loop to get the restraunt rating:

for i in soup9.find_all('div',class_="restnt-rating rating-4"):
    res_rating.append(i.text)
    
# loop to get the image url of thr restraunt:

for i in soup9.find_all('img',class_="no-img"):
    res_iurl.append(i.get('data-src'))  # get is for fetching the url
    
# loop to display all the desired data 

for j in range(9):
    print(j+1," ",res_name[j]," ",res_cuis[j]," ",res_loc[j]," ",res_rating[j]," ",res_iurl[j])

1   Castle Barbeque    Chinese, North Indian   Connaught Place, Central Delhi   4.1   https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium
2   Jungle Jamboree    North Indian, Asian, Italian   3CS Mall,Lajpat Nagar - 3, South Delhi   3.9   https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium
3   Cafe Knosh    Italian, Continental   The Leela Ambience Convention Hotel,Shahdara, East Delhi   4.3   https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium
4   Castle Barbeque    Chinese, North Indian   Pacific Mall,Tagore Garden, West Delhi   3.9   https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium
5   The Barbeque Company    North Indian, Chinese   Gardens Galleria,Sector 38A, Noida   4   https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium
6   India Grill    North Indian, Italian   Hilton Garden Inn,Saket, South Delhi   3.9   https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium
7   Delhi Barbeque    North Indian   Taurus Sarovar Portico,Mahipalpur, South Delhi   3.6   https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium
8   The Monarch - Bar Be Que Village    North Indian   Indirapuram Habitat Centre,Indirapuram, Ghaziabad   3.8   https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium
9   Indian Grill Room    North Indian, Mughlai   Suncity Business Tower,Golf Course Road, Gurgaon   4.3   https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium

In [484]:
# DATA IN DATAFRAME 
df9 = pd.DataFrame( {"NAME": res_name, "CUISINE":res_cuis, "LOCATION": res_loc, "RATING": res_rating, "IMAGE URL": res_iurl } )
df9
#df9.to_csv("dineout.csv") in the form of csv file

,NAME,CUISINE,LOCATION,RATING,IMAGE URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

# Question-10: Write a python program to scrape the details of top publications from Google Scholar from 
https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank 
ii) Publication
iii) h5-index
 iv) h5-median

In [485]:
# To get the source code of the webpage
page10 = requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")
page10

In [542]:
# To get the page content 
soup10 = BeautifulSoup(page10.content)
# soup10

TO SCRAPE THE DESIRED DATA

In [499]:
# creating empty lists to store the data
rank=[]
pub=[]
h5_in=[]
h5_med=[]

# loop to get the rank of all publications

for i in soup10.find_all('td',class_="gsc_mvt_p"):
    rank.append(i.text)
    
# loop to get the Name of all publications

for i in soup10.find_all('td',class_="gsc_mvt_t"):
    pub.append(i.text)
    
# loop to get H5-index of all publications

for i in soup10.find_all('a',class_="gs_ibl gsc_mp_anchor"):
    h5_in.append(i.text)
    
# loop to get H5-median of all publications

for i in soup10.find_all('span',class_="gs_ibl gsc_mp_anchor"):
    h5_med.append(i.text)

# loop to display all the desired data 

for j in range(100):
    print(rank[j]," ",pub[j]," ",h5_in[j]," ",h5_med[j])

1.   Nature   444   667
2.   The New England Journal of Medicine   432   780
3.   Science   401   614
4.   IEEE/CVF Conference on Computer Vision and Pattern Recognition   389   627
5.   The Lancet   354   635
6.   Advanced Materials   312   418
7.   Nature Communications   307   428
8.   Cell   300   505
9.   International Conference on Learning Representations   286   533
10.   Neural Information Processing Systems   278   436

In [500]:
# DATA IN THE FORM OF DATAFRAME 
df10 = pd.DataFrame( {"RANK":rank, "PUBLICATION":pub, "H5-INDEX":h5_in, "H5-MEDIAN":h5_med} )
df10

    RANK                                        PUBLICATION H5-INDEX H5-MEDIAN
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]