# PRACTICE

In [1]:
8+4

12

In [2]:
16*5

80

In [3]:
50-5*6

20

In [4]:
(50-5*6)/4

5.0

In [5]:
17/3

5.666666666666667

In [6]:
17//3

5

In [7]:
17%3

2

In [8]:
5*3+2

17

In [9]:
5**2

25

In [10]:
5**3**2

1953125

In [16]:
width = 20

height = 5 * 9

width * height

print(width)

print('The value of width=',width) # use single quote

print("The value of width is=", width) # use double quote

print("Value=",width*height)

print("The value of height is=", height)

20
The value of width= 20
The value of width is= 20
Value= 900
The value of height is= 45

In [19]:
tax = 12.5 / 100

price = 100.50

price * tax

print("The value of prince and tax is=", price, "and", tax, "respectively")

print("The value is=", price*tax)

The value of prince and tax is= 100.5 and 0.125 respectively
The value is= 12.5625

In [21]:
string1 = "Elon"

string2 = " Musk"

magic_string = string1 + string2

magic_string

'Elon Musk'

In [22]:
name1='Yashika'

name2=' Mittal'

name=name1+name2

print('The Name is=', name)

The Name is= Yashika Mittal

In [24]:
"The "+"Sun","The "+"Moon","Planets"+" Universe"

('The Sun', 'The Moon', 'Planets Universe')

In [25]:
number=float(input("ENTER ANY NUMBER:"))
num=2*number
print("The number you entered is:", number)
print("The twice of", number, "is", num)

ENTER ANY NUMBER:2
The number you entered is: 2.0
The twice of 2.0 is 4.0

In [26]:
prompt = "Hey, what's up? "

user_input = input(prompt)

print("You said: " + user_input)

Hey, what's up? i am fine
You said: i am fine

In [28]:
num1=int(input("enter number 1:"))
num2=int(input("enter number 2:"))
product=num1*num2
print("the product of",num1,"and", num2, "is",product)

enter number 1:2
enter number 2:4
the product of 2 and 4 is 8

In [29]:
p=int(input("ener principle:"))
r=int(input("enter rate:"))
t=int(input("enter time:"))
intrest=(p*r*t)/100
print("intrest is:", intrest)

ener principle:1000
enter rate:2
enter time:2
intrest is: 40.0

In [42]:
string=input("enter string:")
len(string)

enter string:shagun

6

In [40]:
squares = [1, 4, 9, 16, 25]

squares,squares[0],squares[-1],squares[-3:]
print(squares[:])

#squares + [36, 49, 64, 81, 100]cubes = [1, 8, 27, 65, 125]cubes[3] = 64cubescubes.append(216) # add the cube of 6

#cubes.append(7 ** 3) # and the cube of 7

#cubes

#letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

#letters

[1, 4, 9, 16, 25]

In [41]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [70]:
t1=list(input("enter a list"))
print(t1)
n=t1[1]
t1[1]=t1[-1]
t1[-1]=n
print(t1)
t2=list(input("enter 2nd list"))
print(t2)
t2[0],t2[-1]=t2[-1],t2[0]
print(t2)

enter a list123
['1', '2', '3']
['1', '3', '2']
enter 2nd list456
['4', '5', '6']
['6', '5', '4']

In [74]:
numlist=[]
numlist=input("enter numlist")

SyntaxError: invalid syntax (1478335091.py, line 3)

In [1]:
list1=[1,2,3,4,5]
list1=list1[::-1] # reverse
print(list1)

[5, 4, 3, 2, 1]

In [11]:
list2=input("enter no by space:")
list3=list2.split()
print(list3)
size=len(list3)
s=int(list3[0])+int(list3[1])+int(list3[2]) # string hai abh tak
print(s)

enter no by space:23 34 45
['23', '34', '45']
102

In [7]:
type(list3)

list

In [10]:
type(list3[0])

str

In [12]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

print(basket)

{'apple', 'banana', 'orange', 'pear'}

In [13]:
basket.add('pineapple')

In [14]:
basket

{'apple', 'banana', 'orange', 'pear', 'pineapple'}

In [15]:
basket.pop()

'orange'

In [20]:
basket.remove('apple')

In [21]:
basket

{'banana', 'pear', 'pineapple'}

In [22]:
basket.pop()

'pineapple'

In [23]:
basket.count(pear)

AttributeError: 'set' object has no attribute 'count'

In [24]:
basket.sort()

AttributeError: 'set' object has no attribute 'sort'

In [32]:
my_dict = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Mumbai"}

print("username :", my_dict['username'])

print("email : ", my_dict["email"])

print("location : ", my_dict["location"])

username : XYZ
email :  xyz@gmail.com
location :  Mumbai

In [33]:
my_dict['username']="nick"

In [28]:
my_dict

{'username': 'nick', 'email': 'xyz@gmail.com', 'location': 'Mumbai'}

In [29]:
del my_dict['email']

In [31]:
my_dict.pop("username")

'nick'

In [34]:
a=[1,2,3]
b=[5,6,7]
ab=[a,b]

In [35]:
ab

[[1, 2, 3], [5, 6, 7]]

In [40]:
x=(1,2)
b=list(x)
b
print(list(x))

[1, 2]

In [37]:
type(b)

list

In [39]:
type(x)

tuple

In [43]:
list(x)

[1, 2]

In [44]:
d={}

In [45]:
type(d)

dict

In [48]:
d={}

In [49]:
type(d)

dict

In [50]:
s=set([])

In [52]:
type(s)

set

In [6]:
i=1
print("natural numbers are:","\n")
while(i<=10):
    print(i,end=",")
    i=i+1

natural numbers are:

1,2,3,4,5,6,7,8,9,10,

In [9]:
for x in range(2,7):
 print(x)

2
3
4
5
6

In [11]:
for x in range(0,100,8):
    print(x,end=",")

0,8,16,24,32,40,48,56,64,72,80,88,96,

In [12]:
months=["jan","feb","mar","april","may"]
for m in months:
    print(m)

jan
feb
mar
april
may

In [13]:
words = ['cat', 'window', 'defenestrate']

for w in words:

 print(w)

for w in words:

 print(w, len(w))

cat
window
defenestrate
cat 3
window 6
defenestrate 12

In [14]:
a = ['Mary', 'had', 'a', 'little', 'lamb']

for i in range(len(a)):

 print(i)

0
1
2
3
4

In [17]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [20]:
x=int(input("enter first no.:"))
y=int(input("enter second no.:"))
if x<y:
    print("first number is smaller")
elif x==y:
    print("no.s are equal")
elif x>y:
    print("first no is greater")

enter first no.:10
enter second no.:10
no.s are equal

In [59]:
# composite no.s check
s=0
x= int(input("enter no. to be checked:"))
for i in range(2,x):
    if x%i==0:
        s=s+1
        print(i)
print(s)        
if s==0:
    print("no is prime")
else:
    print("no is composite")

enter no. to be checked:33
3
11
2
no is composite

In [81]:
# pallindrome
x=int(input("enter no. to be checked:")) # cannot define index value for int
print(x)
s=len(str(x))
for i in range(s):
    if x[i]==x[s-1]:
        p=0
    else:
        p=1
        
if p==0:
    print("no is pallindrome")
else:
    print("no. is not pallindrome")

enter no. to be checked:677
677

TypeError: 'int' object is not subscriptable

In [78]:
x=str(input("enter :"))
s=len(x)
for i in range(s):
    print(x[i])
    if x[i]==x[s-1-i]:
        p=0
    else:
        p=1
if p==0:
    print("pallindrome")
else:
    print("not pallindrome")

enter :nitin
n
i
t
i
n
pallindrome

In [77]:
x='898'
len(x)

3

In [68]:
x[0]

'8'

In [64]:
num=input("enter no:")
len(num)

enter no:234

3

In [65]:
num[0]

'2'

In [87]:
num=int(input("enter no upto which sum is required:"))
s=0
for x in range(num+1):
    s=s+x
print("sum is :",s)

enter no upto which sum is required:100
sum is : 5050

In [88]:
n=int(input("enter no for table:"))
for i in range(1,11,1):
    print(n,"*",i,"=",n*i)

enter no for table:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [89]:
n=int(input("enter no for table:"))
i=1
while(i<11):
    print(n,"*",i,"=",n*i)
    i=i+1

enter no for table:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [114]:
l1=[]
l2=[]
s=int(input("enter size of the list:"))
n=int(input("enter no to be multiplied by the list:"))
for x in range(s):
        num=int(input("enter number:"))
        l1.append(num)
        #l2.append(num*2)
        #l2.append(num*n)
print(l1) 
[x*2 for x in l1]
#print(l2)

enter size of the list:2
enter no to be multiplied by the list:23
enter number:45
enter number:56
[45, 56]

[90, 112]

In [93]:
l1=[2,3,4]
l1.append(3)

In [94]:
l1

[2, 3, 4, 3]

In [103]:
l1=[]
l2=[]
s=int(input("enter size:"))
while(s>0):
    n=int(input("enter no:"))
    l1.append(n)
    l2.append(n*2)
    s=s-1
print(l1)
print(l2)

enter size:2
enter no:23
enter no:4
[23, 4]
[46, 8]

In [122]:
l1=[]
l2=[]
l3=[]
s=int(input("enter size of the list:"))
for x in range(s):
        num=int(input("enter number:"))
        l1.append(num)
        if(num%2==0):
            l2.append(num)
        else:
            l3.append(num)
print(l1) 
print(l2)
print(l3)

enter size of the list:6
enter number:12
enter number:24
enter number:6
enter number:80
enter number:96
enter number:90
[12, 24, 6, 80, 96, 90]
[12, 24, 6, 80, 96, 90]
[]

In [12]:
p=1
for p in range(7):
    print("|")
for p in range(10):
    print("_",end=" ")

|
|
|
|
|
|
|
_ _ _ _ _ _ _ _

In [4]:
b=1
for b in range(10):
    print("_",end=" ")

_ _ _ _ _ _ _ _ _ _

In [119]:
for i in range(7):
    for j in range(0,i+1):
        print(j,end=" ")
    print("\n")

0

0 1

0 1 2

0 1 2 3

0 1 2 3 4

0 1 2 3 4 5

In [121]:
for i in range(5,0,-1):
    for j in range(i):
        print(j,end=" ")
    print("\n")

0 1 2 3 4

0 1 2 3

0 1 2

0 1

0

In [113]:
for i in range(5):
    for j in range(5,i,-1):
        print(j,end=" ")
    print("\n")

5 4 3 2 1

5 4 3 2

5 4 3

5 4

5

In [132]:
n= int(input("enter no of rows:"))
for i in range(n,0,-1):
    print("*" * i)

enter no of rows:4
****
***
**
*

In [134]:
n= int(input("enter no of rows:"))
for i in range(1,n+1):
    print("*" * i)

enter no of rows:5
*
**
***
****
*****

In [144]:
n= int(input("enter no of rows:"))
for i in range(1,n+1):
    print(" " * (n-i)+ "*" * i)

enter no of rows:4
   *
  **
 ***
****

In [186]:
n= int(input("enter no of rows:"))
for i in range(1,n+1):
    print(" " * (n-i)+"* "*i)

enter no of rows:10
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [165]:
n=int(input("enter no of rows:"))
for i in range(n,0,-1):
    print(" "*(n-i)+"* "*i)

enter no of rows:3
* * *
 * *
  *

In [167]:
n=int(input("enter no of rows:"))
for i in range(n):
    print("*"*(i+1))
for i in range(n):
    print("*"*(n-i-1))

enter no of rows:5
*
**
***
****
*****
****
***
**
*

In [259]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(" "*(n-i-1)+"*"*(i+1))
for i in range(n):
    print(" "*(i+1)+"*"*(n-i-1))

enter no of rows:5
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [229]:
n=int(input("enter no of rows:"))
for i in range(n):
    if i==0:
        print("*")
    elif i<n-1:
        print("*"+" "*i*2+"*")
    elif i==n-1:
        print("* "*n,end="")

enter no of rows:5
*
*  *
*    *
*      *
* * * * *

In [230]:
n=int(input("enter no of rows:"))
for i in range(n,0,-1):
    if i==1:
        print("\n","*")
    elif i<n:
        print("*"+" "*i*2)
    elif i==n:
        print("* "*n,end=" ")

enter no of rows:5
* * * * *  *
*
*

 *

In [232]:
n=int(input("enter no of rows:"))
for i in range(n):
    print("*"*(i+1))

enter no of rows:5
*
**
***
****
*****

In [233]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(" "*(n-i)+"*"*(i+1))

enter no of rows:4
    *
   **
  ***
 ****

In [235]:
n=int(input("enter no of rows:"))
for i in range(n):
    print("*"*(n-i)+" "*i)

enter no of rows:4
****
***
**
*

In [238]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(" "*(n-i)+"* "*(i+1))

enter no of rows:3
   *
  * *
 * * *

In [244]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(" "*i+"* "*(n-i)+" "*i)

enter no of rows:6
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [265]:
n=int(input("enter no of rows:"))
for i in range(n):
    print("*"*(i+1))
for i in range(n):
    print("*"*(n-i-1))

enter no of rows:5
*
**
***
****
*****
*****
****
***
**
*

In [271]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(" "*(n-i-1)+"*"*(i+1))
for i in range(n):
    print(" "*(i+1)+"*"*(n-i-1))

enter no of rows:5
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [280]:
n=int(input("max no.:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print("\n")

max no.:5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [301]:
n=int(input("max no.:"))
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    for j in range(1,i+1):
        print(j,end=" ")
    print("\n")

max no.:7
       1

      1 2

     1 2 3

    1 2 3 4

   1 2 3 4 5

  1 2 3 4 5 6

 1 2 3 4 5 6 7

In [304]:
n=int(input("enter maximum no:"))
for i in range(n,0,-1):
    print(" "*(n-i),end=" ")
    for j in range(1,i+1):
        print(j,end=" ")
    print("\n")

enter maximum no:8
 1 2 3 4 5 6 7 8

  1 2 3 4 5 6 7

   1 2 3 4 5 6

    1 2 3 4 5

     1 2 3 4

      1 2 3

       1 2

        1

In [322]:
n=int(input("enter max no.:"))
for i in range(n):
    print(" "*(n-i-1)+"* "*(i+1))
for i in range(n):
    print(" "*(i+1)+"* "*(n-i-1))

enter max no.:5
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

# STRING FUNCTIONS

In [2]:
string1 = "Becomes"
print(string1.startswith("be"))
string2 = "becomes"
print(string2.startswith("be"))
string3 = "BEAR"
print(string3.startswith("be"))
string4 = " bEautiful"
print(string4.startswith("be"))

False
True
False
False

In [7]:
string1 = "Becomes"
string1=string1.replace("Be","be")
print(string1.startswith("be"))
string2 = "becomes"
print(string2.startswith("be"))
string3 = "BEAR"
string3=string3.replace("BE","be")
print(string3.startswith("be"))
string4 = "bEautiful"
string4=string4.replace("bE","be")
print(string4.startswith("be"))

True
True
True
True

In [13]:
n=int(input("enter the no of strings:"))
string=[]
for i in range(n):
    string=input("enter string:")
    
print(string)

enter the no of strings:2
enter string:yasj

TypeError: 'str' object does not support item assignment